* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }


/* ---------------------HEADER---------------------*/

header {
    padding: 0.3vw 0vw;
    background-color: var(--primary-bg-color);
  }