
  /* ---------------------HEADER---------------------*/

  header {
    font-family: var(--font2);
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--primary-bg-color-black);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    padding: 20px 0px; 
    z-index: 1;
  }
  
  header::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton.*/
    width: 100%;
    height: 2px;
  }
  
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .a-logo {
    font-size: max(1.1vw, 6px);
    color: var(--primary-bg-color-white);
    font-weight: 600;
    margin-left: 3vw;
    text-decoration: none;
  }
  
  .img-logo {
    max-width: max(7vw, 90px);
    height: auto;
    padding: 5px 0vw;
  }
  
  #navbar-nav {
    margin-right: 2vw;
  }
  
  .ul-nav {
    align-items: center;
    display: flex;
    align-items: center;
  }
  
  #navbar-nav ul li a {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .home-nav, .product-nav, .recrut-nav, .shopping-nav {
    color: var(--primary-bg-color-white);
    font-size: max(0.82vw, 13px);
    font-weight: bold;
    text-align: center;
  }
  
  .panier {
    margin: 5px 5px 0px 20px;
    width: 35px;
    height: 35px;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-bg-color-white);
  }
  
  /* ---------------------BUTTON---------------------*/
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container .btn {
    position: relative;
    width: 140px;
    height: 40px;
    margin-left: 20px;
  }
  
  .container .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    /*Vitesse de l'agrandissement du texte*/
    backdrop-filter: blur(15px);
  }
  
  .container .btn:hover a {
    letter-spacing: 3.5px;
  }
  
  .container .btn a::before {
    content: '';
    position: absolute;
    top: 0;
    /*Positionne le dégradé*/
    left: 0;
    /*Positionne le dégradé*/
    width: 30%;
    /*Largeur dégradé*/
    height: 100%;
    /*Hauteur dégradé*/
    background: linear-gradient(to left, rgba(255, 255, 255, 0.08), transparent);
    transform: skewX(45deg) translateX(0%);
    /*Inclinaison du dégradé="skewX" longueur du dégradé à partir du centre (width:50%) ="translateX" */
    transition: 0.1s;
  }
  
  .container .btn:hover a::before {
    transform: skewX(45deg) translateX(260%);
    /*Le dégradé se déplace vers la droite quand le curseur passe dessus*/
  }
  
  /*BORDURE BAS*/
  .container .btn::before{
    content:  ''; /*Si supprimé fait diparaître la bordure*/
    position: absolute;
    left: 50%; /*Position de la bordure par rapport au bouton (ici 50%=centré)*/
    transform: translateX(-50%); /*Centre bien la bordure (pas bien compris)*/
    bottom: -11px; /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton. L'effet de transition reste sur le bouton (donne un effet sympa)*/
    width: 3px; /*Largeur de la bordure*/
    height: 3px; /*Hauteur de la bordure*/
    border-radius:  50%; /*border-radius bordure*/
    transition: 0.5s; /*Vitesse transition quand le curseur passe dessus*/
    transition-delay: 0s; /*Délai avant que la transition revienne à son état initial*/
    border-radius: 20px;
  }
  
  .container .btn:hover::before{
    bottom: 0; /*la bordure du bas remonte entierement sur le bouton quand le curseur passe dessus (changer cette valeur fait dépasser l'effet de transition du bouton rendant la bordure du bouton apparente avec une ombre)*/
    height: 60%; /*la hauteur du blur augmente ici jusqu'à 50% pendant l'effet de transition, quand le curseur passe dessus*/
    width: 100%; /*idem avec la largeur*/
    border-radius: 10px; /*border-radius de l'effet de transition*/
    transition-delay: 0.2s; /*Retarde l'effet avec le blur*/
    border-radius: 20px;
  }
  
  
  /*BORDURE HAUT*/
  .container .btn::after{
    content:  ''; /*Si supprimé fait diparaître la bordure*/
    position: absolute;
    left: 50%; /*Position de la bordure par rapport au bouton (ici 50%=centré)*/
    transform: translateX(-50%);
    top: -10px; /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton. L'effet de transition reste sur le bouton (donne un effet sympa)*/
    width: 3px; /*Largeur de la bordure*/
    height: 3px; /*Hauteur de la bordure*/
    border-radius:  50%; /*border-radius bordure*/
    transition: 0.5s;  /*Vitesse transition quand le curseur passe dessus*/
    transition-delay: 0s; /*Délai avant que la transition revienne à son état initial*/
    border-radius: 20px;
  }
  
  .container .btn:hover::after{
    top: 0; /*la bordure du haut disparaît derrière le bouton quand le curseur passe dessus*/
    height: 60%; /*la hauteur du blur augmente quand le curseur passe dessus*/
    width: 100%; /*idem avec la largeur*/
    border-radius: 10px; /*border-radius de l'effet de transition*/
    transition-delay: 0.2s; /*Retarde l'effet avec le blur*/
    border-radius: 20px;
  }
  
  .container .btn::before, .container .btn::after, header::before, footer::after {
    background: var(--quaternary-bg-color);
    box-shadow: 0 0 5px var(--quaternary-bg-color), 0 0 10px var(--quaternary-bg-color), 0 0 15px var(--quaternary-bg-color), 0 0 30px var(--quaternary-bg-color);
  }
  
  /* ----------X----------FIN BUTTON----------X----------*/
  /* //------------------ Cercle ------------------- */
.cercle{
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: white;
  top: 0;
  right: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cercle-active{
  animation: cercleActive 1s;   
}
.shopping-nav{
  position:relative;
}
@keyframes cercleActive {
  0% {transform: scale(1); box-shadow: 0em 0em 0.2em white;}
  50% {transform: scale(1.5); box-shadow: 0em 0em 0.2em 0.1em white;}
  100% {transform: scale(1); box-shadow: 0em 0em 0.2em white;}
}
/* //-----------x------- Cercle -----------x-------- */
  /* ----------X----------FIN HEADER----------X----------*/






  
  /* ---------------------FOOTER---------------------*/
  
  footer {
    position: relative;
    background-color: var(--primary-bg-color-black);
    color: var(--primary-bg-color-white);
    list-style-type: none;
    padding: 1vw 0vw;
    font-size: max(1vw, 8px);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
  }
  
  footer::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1px;
    width: 100%;
    height: 2px;
  }
  
  
  .img-logo {
    width: max(10vw, 80px);
    margin-right: 2vw;
  }
  
  .mentions {
    list-style-type: none;
    padding-bottom: 15px;
  }
  
  .mentions li a {
    text-decoration: none;
    margin-left: 2vw;
    color: var(--primary-bg-color-white);
  }
  
  .copy-icon {
    list-style-type: none;
  }
  
  .copyright {
    margin-right: 2vw;
  }
  
  .social-icon {
    margin-left: 1vw;
  }
  
  svg {
    width: max(1vw, 9px);
    height: max(1vw, 9px);
  }
  
  /* ----------X----------FIN FOOTER----------X----------*/
  
  /* ---------------------MEDIAQUERIES---------------------*/
  
  @media only screen and (max-width: 700px) {
    .ul-nav {
      position: fixed;
      left: -110%;
      top: 100px;
      flex-direction: column;
      background-color: var(--primary-bg-color-black);
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 10;
      backdrop-filter: blur(100px);
      -webkit-backdrop-filter: blur(100px);
      padding: 0px 0px 25px 0px;
    }
    .ul-nav::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1px;
      /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton.*/
      width: 100%;
      height: 2px;
    }
    .ul-nav::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -1px;
      /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton.*/
      width: 100%;
      height: 2px;
    }
    .ul-nav::before, .ul-nav::after {
      background: var(--quaternary-bg-color);
      box-shadow: 0 0 5px var(--quaternary-bg-color), 0 0 10px var(--quaternary-bg-color), 0 0 15px var(--quaternary-bg-color), 0 0 30px var(--quaternary-bg-color);
    }
    .ul-nav.active {
      left: 0;
    }
    .li-nav {
      margin: 60px 20px 0px 0px;
    }
    .hamburger {
      position: relative;
      display: block;
      cursor: pointer;
      top: 1px;
      right: 20px;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  /* ----------X----------FIN MEDIAQUERIES----------X----------*/