:root {
    /* ---------------Variable couleur----------------- */
    --primary-bg-color-black: rgb(0,0,0);
    --primary-bg-color-white: rgb(255,255,255);
    --secondary-bg-color: rgb(1,23,49);
    --teriary-bg-color: rgb(71,108,141);
    --quaternary-bg-color: rgb(120,206,255);
    --quinternary-bg-color: rgb(91,206,255);
    --fifth-bg-color:rgb(147,146,146);

    /*-------------Varible Couleur avec opacity ----------------- */
    --opacity: 0.9;
    --secondary-bg-color-opacity: rgb(1,23,49,var(--opacity));
    --teriary-bg-color-opacity: rgb(71,108,141, var(--opacity));
    --teriary-bg-color-opacity2: rgb(71,108,141, 0.5);


    /* ---------------Variable font-size--------------- */
    --title-size: 1.8em;
    --sous-title-size: 1.4em;
    --text-size: 1em;
    /* ---------------Variable font-family------------- */
    --font1: roboto;
    --font2: cursive;
    --font3: arial;

}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.center{
    justify-content: center;
    align-items: center;
}