* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--fifth-bg-color);
  font-family: var(--font1);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*-----------------------------TEXT_ICON_TITLE-----------------------------*/
p,
li {
  font-size: var(--text-size);
  line-height: 25px;
}

.icon_recrut {
  font-size: var(--text-size);
  padding: 0 5vw;
}
.title {
  color: var(--primary-bg-color-white);
}

h2 {
  padding-left: 3vw;
}
/*------------X----------------TEXT_LOGO_TITLE---------------X-------------*/

/* -----------------------------ANNONCES EMPLOIS-----------------------------*/
.text_annonce {
  padding: 0 5vh;
}

.section_recrut {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: solid 1px rgb(0, 255, 85);
}

.list_annonce {
  margin-left: 40px;
}

.annonce1,
.annonce2,
.annonce3 {
  margin-bottom: 4vw;
  width: 55vw;
  box-shadow: 6px 6px 10px var(--quinternary-bg-color);
  color: var(--primary-bg-color-white);
  border: solid rgb(0, 0, 0) 1px;
  background: linear-gradient(
    0deg,
    rgba(18, 77, 120, 1) 0%,
    rgba(18, 77, 120, 1) 8%,
    rgba(0, 0, 0, 1) 100%);
}

button {
  margin-bottom: 1vw;
  height: 35px;
  width: 150px;
  border: none;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: var(--primary-bg-color-white);
  background-color: var(--quinternary-bg-color);
}

.button_recrut {
  display: flex;
  padding-right: 5vw;
  flex-direction: row;
  align-items: baseline;
  align-content: flex-end;
  justify-content: flex-end;
}

.offre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border: slategray solid 1px;
}

/*--------------X--------------ANNONCES EMPLOIS--------------X--------------*/

/*-----------------------------DEPOSE CV ET ALERTE ANNONCE-----------------------------*/
.container_cv {
  width: 35vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid blueviolet;
}

.icon_alert {
  display: flex;
  justify-content: center;
}

.alert_recrut,
.inscription_alert {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 16vw;
  margin-bottom: 70px;
  
}

.alert_recrut {
  border: rgb(255, 255, 255) solid 1px;
  background: var(--primary-bg-color-white);
  justify-content: space-around;
  box-shadow: 6px 6px 10px var(--quinternary-bg-color);
}

.alert_recrut_para {
  padding: 0vh 2vh;
}

.bi-bell,
.bi-person-rolodex {
  border: var(--quinternary-bg-color) solid 1px;
  background: var(--quinternary-bg-color);
  border-radius: 100%;
  height: 10vh;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
.button_recrut {
}

/*--------------X--------------DEPOSE CV ET ALERTE ANNONCE--------------X--------------*/
