* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/Asset/circuits3b.png");
  font-family: var(--font2);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  background: linear-gradient(
    180deg,
    var(--secondary-bg-color-opacity),
    var(--teriary-bg-color-opacity),
    var(--secondary-bg-color-opacity)
  );
}

/*-----------------------------TEXT_ICON_TITLE-----------------------------*/
p,
li {
  font-size: var(--text-size);
  line-height: 2vh;
}

.icon_recrut {
  font-size: var(--text-size);
  margin: 0 5vw;
}
.title {
  color: var(--primary-bg-color-white);
}

/*------------X----------------TEXT_LOGO_TITLE---------------X-------------*/

/* -----------------------------ANNONCES EMPLOIS-----------------------------*/
.section_recrut {
  margin: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.list_annonce {
  margin: 0 4vw;
}

.icon_recrut,
.text_annonce,
h2,
h1 {
  margin: 1vw 2vw;
}

.annonce1,
.annonce2,
.annonce3
 {
  margin-bottom: 1vw;
  width: 40vw;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
   position: relative;
  /*box-shadow: 6px 6px 10px var(--quinternary-bg-color); */
  color: var(--primary-bg-color-white);
  border: solid rgb(0, 0, 0) 1px;
  background: linear-gradient(
    0deg,
    rgba(18, 77, 120, 1) 0%,
    rgba(18, 77, 120, 1) 8%,
    rgba(0, 0, 0, 1) 100%
  );
}
.annonce1::before,
.annonce2::before
 {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -13px;
  /*Positionne verticalement la bordure plus la valeur négative est élevée, plus la bordure s'éloigne du bouton.*/
  width: 80%;
  height: 2px;
}

.annonce1::before,
.annonce2::before{
  background: var(--quaternary-bg-color);
  box-shadow: 0 0 5px var(--quaternary-bg-color), 0 0 10px var(--quaternary-bg-color), 0 0 15px var(--quaternary-bg-color), 0 0 30px var(--quaternary-bg-color);
}

button {
  width: 7.8vw;
  padding: 0.4vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--quinternary-bg-color);
}

.button_recrut {
  display: flex;
  flex-direction: row;
  margin: -1.5vw 2vw 0.5vw;
  justify-content: flex-end;
}

.postuler {
  font-size: max(0.8vw, 10px);
}

.offre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
/*--------------X--------------ANNONCES EMPLOIS--------------X--------------*/

/*-----------------------------DEPOSE CV ET ALERTE ANNONCE-----------------------------*/
.container_cv {
  width: 35vw;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon_alert {
  display: flex;
  justify-content: center;
}

.alert_recrut,
.inscription_alert {
  width: 25vw;
  display: flex;
  margin-bottom: 1vw;
  align-items: center;
  flex-direction: column;
}

.alert_recrut {
  margin-top: 4vw;
  border: rgb(255, 255, 255) solid 1px;
  background: var(--primary-bg-color-white);
  box-shadow: 4px 4px 10px var(--quinternary-bg-color);
}

.alert_recrut_para {
  padding: 0 1vw;
  margin: 1vw 0 1vw;
}

img {
  height: 3vw;
  width: 3vw;
}

.icon_alert {
  width: 5vw;
  height: 5vw;
  margin: 1vw 0;
  background: var(--quinternary-bg-color);
  display: flex;
  font-size: 70px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  border: var(--quinternary-bg-color) solid 1px;
}
/*----------------------------- POPUP *-----------------------------*/
.popup {
  position: absolute;
  display: none;
  z-index: 1;
  width: 25%;
  height: 25%;
  top: 15%;
  
}

h3 {
  margin: 0 0 2vw 5vw;
}

form {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background-color: var(--primary-bg-color-white);
}

input,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}

button:hover {
  background:var(--teriary-bg-color);
  color: var(--primary-bg-color-white);
}
 .button_pull{
   display: flex;
   justify-content: center;
 }
/*-------------x--------------- POPUP *----------------x------------*/


/*----------------------------- Media query----------------------------- */
@media only screen and (max-width: 680px) {
  main {
    padding-top: 30px;
  }

  .section_recrut {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-top: 25px;
  }

  .icon_recrut,
  .text_annonce,
  h2,
  h1 {
    font-size: max(1vw, 15px);
  }

  .alert_recrut,
  .inscription_alert {
    width: 40vw;
    margin-top: 0;
  }

  .offre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 620px) {
  main {
    padding-top: 30px;
  }

  .section_recrut {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .icon_recrut,
  .text_annonce,
  h2,
  h1 {
    font-size: max(1vw, 15px);
  }

  .alert_recrut,
  .inscription_alert {
    width: 40vw;
    margin-top: 0;
  }

  .offre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button_recrut {
    justify-content: center;
    padding-top: 15px;
  }
}

/*--------------X-------------- Media query------------------X---------- */

/*--------------X--------------DEPOSE CV ET ALERTE ANNONCE--------------X--------------*/

/* -----------------------------FORMULAIRE POP-UP----------------------------- */
